<mat-card>
  <mat-card-header>
    <mat-card-title>
      Logs
      <button class="export" mat-raised-button (click)="sendMessage()">导出记录</button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngFor="let log of logs">{{log}}</p>
  </mat-card-content>
</mat-card>
