.container {
  /* width: 100%; */
  height: 100%;
  overflow: auto;
}

.container table {
  width: 100%;
}

th.mat-column-select, td.mat-column-select {
  width: 5%;
}

th.mat-column-stepNo, td.mat-column-stepNo {
  width: 5%;
}

th.mat-column-action, td.mat-column-action {
  width: 15%;
}

button[mat-menu-item] {
  margin: 0;
}

span.menu-trigger {
  position: absolute;
}
