<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <form (submit)="close()">
    <mat-form-field>
      <input matInput placeholder="Give me a Case name" [(ngModel)]="name" name="name">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" mat-raised-button color="primary" (click)="close()">确定</button>
  <button type="button" mat-raised-button mat-dialog-close>取消</button>
</mat-dialog-actions>
