mat-drawer-container {
  height: calc(100% - 64px);
}

mat-drawer {
  width: 300px;
  border-right: 1px inset #ddd;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

app-scenario {
  flex: 3;
  display: flex;
  flex-direction: column;
}

mat-card {
  width: 350px;
  margin: auto auto;
}

.card-container {
  display: flex;
  height: calc(100% - 64px);
  background: #5c5c5c;
}

mat-form-field {
  width: 90%;
  margin: 0 10px;
}

